<nav class="navbar navbar-default navbar-fixed-top">
  <div id="navbar" class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Stephen Arifin</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Work Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <header class="header">
    <h1 id="jumbotron-title">Web. Mobile. Cloud.</h1>
    <p id="jumbotron-subtitle" class="text-center invisible">Software Engineer | stephen.arifin@gmail.com</p>
  </header>
</div>

<section id="overview">
  <div class="container bg-3">
    <div class="col-sm-4">
      <h2>Hey there, my name is
        <br>
        <strong id="overview-name" class="invisible">Stephen Arifin.</strong>
      </h2>
    </div>
    <div class="col-sm-8">
      <p>I’m 22 years old and a recent graduate from <strong>The University of Texas at Austin</strong> with a passion for software development.
        I am currently working full-time at <strong>Microsoft</strong> on realtime collaboration for Office applications.
        I have experience in large distributed back-end systems, mobile development, web development, and embedded systems.</p>
    </div>
  </div>
  <br>
</section>

<section id="education">
  <div class="container text-center">
  </div>
  <div class="container bg-3">
    <div class="col-sm-8">
      <h2>The University of Texas at Austin</h2><br>
      <ul>
        <li>Graduated in May 2016 with a <strong>Bachelor of Science in Software Engineering</strong></li>
        <li>Studied abroad in <strong>Barcelona, Spain</strong> for a semester</li>
        <li>Overall GPA: <b>3.74</b></li>
      </ul>
      <p></p>
    </div>
    <div class="col-sm-4">
      <img src="<%= asset_path("ut_tower.png") %>" class="img-responsive img-circle" style="width:100%" alt="Image">
    </div>
  </div>
  <br>
</section>

<section id="experience">
  <div class="container bg-3">
    <div class="col-sm-4">
      <p>Some text..</p>
      <img src="<%= asset_path('microsoft.png') %>" class="img-responsive img-circle" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-8">
      <h2>Software Engineer at Microsoft</h2><br>
      <ul>
        <li>Worked within the File I/O team <strong>integrating Office applications with OneDrive cloud storage</strong></li>
        <li>Designed a middleware service that <strong>enabled multiple Office clients to coauthor a file </strong>hosted on third-party storage endpoints</li>
        <li>Implemented three-way merge for documents to maintain proper version control</li>
        <li><strong>Simulated large-scale client collaboration </strong>to gather metrics of the current coauthoring system</li>
      </ul>
    </div>
  </div>

  <div class="container bg-3">
    <div class="col-sm-4">
      <p>Some text..</p>
      <img src="<%= asset_path('ti.png') %>" class="img-responsive img-circle" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-8">
      <h2>Software Engineer at Texas Instruments</h2><br>
      <ul>
        <li><strong>Wrote kernel driver firmware in C</strong> for host and subsystem processor communication</li>
        <li>Implemented remote processor driver controlling motors for thermal printer</li>
        <li><strong>Designed and implemented pin modes and signals </strong>for Beaglebone Black RS-485 Cape</li>
        <li>Measured power consumption of AM-437x board by running Ethernet, dual-camera, and PRU stress tests</li>
      </ul>
    </div>
  </div>
  <br>
</section>

<section id="skills">
  <div class="container bg-3 text-center">
    <h2>Mobile Development</h2><br><br>
    <div class="row">
      <div class="col-sm-6">
        <img src="<%= asset_path('ios.png') %>" class="img-responsive center-block" style="width:50%" alt="Image">
        <div class="rating">
          <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></h3>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="<%= asset_path('android.png') %>" class="img-responsive center-block" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></h3>
      </div>
    </div><br><br>

    <h2>Web Development</h2><br><br>
    <div class="row">
      <div class="col-sm-3">
        <img src="<%= asset_path('rails.png') %>" class="img-responsive center-block" style="width:40%" alt="Image">
        <div class="rating">
          <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></h3>
        </div>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('jquery.png') %>" class="img-responsive center-block" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span></h3>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('angular.png') %>" class="img-responsive center-block" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span></h3>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('bootstrap.jpg') %>" class="img-responsive center-block img-rounded" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>☆</span><span>☆</span></h3>
      </div>
    </div><br><br>

    <h2>Languages</h2><br><br>
    <div class="row">
      <div class="col-sm-3">
        <img src="<%= asset_path('swift.png') %>" class="img-responsive center-block" style="width:50%" alt="Image">
        <div class="rating">
          <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></h3>
        </div>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('csharp.png') %>" class="img-responsive center-block" style="width:51%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></h3>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('java.png') %>" class="img-responsive center-block" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></h3>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('python.png') %>" class="img-responsive center-block img-rounded" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></h3>
      </div>
    </div><br>
    <div class="row">
      <div class="col-sm-3">
        <img src="<%= asset_path('ruby.png') %>" class="img-responsive center-block img-rounded" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></h3>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('css.png') %>" class="img-responsive center-block img-rounded" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></h3>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('javascript.png') %>" class="img-responsive center-block img-rounded" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></h3>
      </div>
      <div class="col-sm-3">
        <img src="<%= asset_path('c.png') %>" class="img-responsive center-block img-rounded" style="width:50%" alt="Image">
        <h3><span>★</span><span>★</span><span>★</span><span>★</span><span>☆</span></h3>
      </div>
    </div>
  </div>
  <br>
</section>

<section id="projects">
  <div class="container bg-3 text-center">
    <h2>Projects</h2> <br><br>
    <div class="col-sm-6">
      <div class="row">
        <div class="hovereffect">
          <img src="<%= asset_path('chapterhouse.png') %>" class="img-responsive center-block img-circle" style="width:50%" alt="Image">
          <div class="overlay">
            <a class="info" target="_blank" href="https://www.chapter.house/">Visit Website</a>
            <a class="info" target="_blank" href="https://itunes.apple.com/us/app/chapter-house/id1030655685?ls=1&mt=8">Visit Appstore</a>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <h3>Chapter House</h3>
        <p class="text-left">Chapter House is an <strong>online invoicing service</strong> made specifically for Greek Life.
        Chapter House uses <strong>AngularJS</strong> to communicate with a <strong>Ruby on Rails</strong> back-end and handles all transactions through <strong>Stripe.</strong></p>

        <p class="text-left">In just 6 months, Chapter House has <b>gained over 100 users and has invoiced and collected over $40,000.</b></p>
      </div>
      <br>
      <div class="row">
        <a target="_blank" href="https://itunes.apple.com/us/app/chapter-house/id1030655685?ls=1&mt=8">
          <img src="<%= asset_path('appstore.png') %>" class="img-responsive center-block img-rounded" style="width:40%" alt="Image">
        </a>
      </div><br>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="hovereffect">
          <img src="<%= asset_path('autoturret.png') %>" class="img-responsive center-block img-rounded" style="width:75%" alt="Image">
          <div class="overlay">
            <a class="info" target="_blank" href="https://www.youtube.com/watch?v=gSeaKS87Cjc">Watch Video</a>
            <a class="info" target="_blank" href="http://stephenarifin.blogspot.com/">View Blog</a>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>The Autoturret</h3>
        <p class="text-left">The Autoturret is a toy missile launcher with <strong>face-tracking</strong> capabilities and can be controlled by an <strong>Android phone.</strong>
        The Autoturret uses <strong>Intel's OpenCV on the Beaglebone Black</strong> to recognize faces and adjust the turret's aim for precise accuracy.</p>
        <p class="text-left">The Autoturret won the <b>Most Popular Design for Texas Instruments Design Contest for $750.</b>
        More information can be found <a target="_blank" href="http://stephenarifin.blogspot.com/">here.</a></p>
      </div>
    </div>
  </div><br><br>
</section>

<footer id="contact" class="container-fluid bg-3">
  <h2 class="text-center">Contact</h2>
  <div class="row">
    <b>Email</b><br>
    stephen.arifin@gmail.com<br><br>
    <b>Phone</b><br>
    972-834-8260<br><br>
  </div>
  <div class="row text-center">
    <p>© Copyright Stephen Arifin</p>
  </div>
</footer>